<div class="row" style="margin-bottom:10px;">
  <div class="text-center col-lg-4 col-md-12 col-sm-12 col-xs-12" *ngFor="let collection of collections" style="margin-bottom:5px;">
    <button (click)="showInfo()" class=" btn btn-default col-12" style="margin-bottom:5px; width:100%;"><b>{{collection.name}}</b></button>
    <h5 class="text-center">Rating: {{collection.rating}}</h5>
    <h5 *ngIf="show" class="text-center">Price:{{collection.price}}</h5>
    <h5 *ngIf="show" class="text-center">Description: {{collection.description}}</h5>
  </div>
</div>
