<div style = "text-align:center">
  <h2>Welcome to FruitLand</h2>
</div>

<hr>
<div>
  <app-login *ngIf="login"></app-login>
  <button (click)="showLogin()" *ngIf="loginBtn">
    Login
  </button>

  <br>
  <app-signup *ngIf="signup"></app-signup>
  <button (click)="showSignup()" *ngIf="signupBtn">
    Sign Up
  </button>

</div>


<hr>
<h2>About</h2>
<p>
  A collection of fruits around the world.
</p>

<hr>
<div>
  <h2>Privacy Policy</h2>
  <button (click)="showPrivacy()">Check</button>
  <button (click)="hidePrivacy()">Hide</button>
  <app-privacy *ngIf="privacy"></app-privacy>
</div>

<hr>
<div>
  <h2>DMCA Policy</h2>
  <button (click)="showDMCA()">Check</button>
  <button (click)="hideDMCA()">Hide</button>
  <app-dmca *ngIf="DMCA"></app-dmca>
</div>

<hr>
<div>
  <h2>Contact Information</h2>
  <p>Please send any notices of infringement through our manager Email: webtech3316@gmail.com</p>
</div>

<hr>
<div>
  <h2>Collections</h2>
  <app-collection></app-collection>
</div>






